<!DOCTYPE html>
<html ng-app="voiture">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Exercice-4 Partie-4</title>
  </head>
    <body ng-controller='voitures'>
      <ul>
        <li ng-repeat="voiture in voitures" ng-if="voiture.couleur!='verte'" >
          {{voiture.marque}} {{voiture.couleur}}
        </li>
      </ul>
  <script src="assets/js/script.js"></script>
  </body>
</html>
